<h1>Projects</h2>

<% @projects.each do |project| %>
  <h2><%= project.title %></h2>
  <h3><%= project.subtitle %></h3>
  <p><%= project.body %></p>
  <%= image_tag project.thumb_image unless project.thumb_image.nil? %>
<% end %>
